@model EOCM.Models.Village

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Village</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.District.District_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.District_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governorate.Govt_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate.Govt_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Village_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
