@model EOCM.Models.Village

@{
    ViewBag.Title = "تعديل بيانات القرية";
}

<div style="font-family:Arial; text-align: center; direction: rtl;">
    <h2>تعديل بيانات القرية</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Village</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Village_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Village_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Village_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Village_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Govt_ID,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Govt_ID", null, "اختار المحافظة", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Govt_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District_ID,  htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("District_ID", null, "اختار المركز-المدينة", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.District_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

        $(document).ready(function () {


            $('#Govt_ID').change(function () {
                UpdateDistricts($('#Govt_ID'), $('#District_ID'), "اختار المركز-المدينة", $('#Village_ID'), "اختار القرية")
            });

           
        });


</script>
