@model EOCM.Models.Cluster

@{
    ViewBag.Title = "اضافة تجمع جديد";
}

<div style="font-family:Arial; text-align: center; direction: rtl;">
    <h2>اضافة تجمع جديد</h2>
    <hr />
</div>

    @using (Html.BeginForm("Create", "Clusters", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div style="font-family:Arial; direction: rtl; text-align: right; ">
            <div class="form-horizontal">
             
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_Name, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3 ">
                        @Html.EditorFor(model => model.Cluster_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Govt_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Govt_ID", null, "اختار المحافظة", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Govt_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.District_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("District_ID", null, "اختار المركز-المدينة", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.District_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Village_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Village_ID", null, "اختار القرية", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Village_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sector_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Sector_ID", null, "اختار القطاع", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Sector_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Field_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Field_ID", null, "اختار النشاط", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Field_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Product_ID, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownList("Product_ID", null, "اختار المنتج", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Product_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Products, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Products, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_Lat, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_Lat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_Lat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_Long, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_Long, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_Long, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
    @Html.LabelFor(model => model.Cluster_ShopNum, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.Cluster_ShopNum, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cluster_ShopNum, "", new { @class = "text-danger" })
    </div>
</div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_EmpNum, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_EmpNum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_EmpNum, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_EmpFemale, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_EmpFemale, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_EmpFemale, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OfficalProjects, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.OfficalProjects, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OfficalProjects, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NonOfficalProjects, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.NonOfficalProjects, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NonOfficalProjects, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyPercent, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.CompanyPercent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CompanyPercent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClusterNature, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ClusterNature, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClusterNature, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ClusterType, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ClusterType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ClusterType, "", new { @class = "text-danger" })
                    </div>
                </div>
          
                <div class="form-group">
                    @Html.LabelFor(model => model.Market, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Market, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Market, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductSeason, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ProductSeason, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProductSeason, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ExportVolume, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ExportVolume, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ExportVolume, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Income, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Income, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Income, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SupportingOrg, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.SupportingOrg, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SupportingOrg, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Challenges, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Challenges, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Challenges, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_DetailPage1, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_DetailPage1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_DetailPage1, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_DetailPage2, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_DetailPage2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_DetailPage2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_DetailPage3, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.Cluster_DetailPage3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cluster_DetailPage3, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_ProductImage, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">

                        @Html.TextBoxFor(model => model.Cluster_ProductImage, new { type = "file" })
                        @Html.ValidationMessageFor(model => model.Cluster_ProductImage)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cluster_ProcessImage, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.Cluster_ProcessImage, new { type = "file" })
                        @Html.ValidationMessageFor(model => model.Cluster_ProcessImage)

                 </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-3">
                        <input type="submit" value="اضافة التجمع" class="btn btn-default" />
                        <br />
                        @Html.ActionLink("عودة للقائمة الرئيسية", "Index")
                    </div>
                </div>
            </div>
            <div>
   
</div>

        </div>
    }

  

   
    <script>

        $(document).ready(function () {

            $('#District_ID').prop("disabled", true);
            $('#Village_ID').prop("disabled", true);
            $('#Field_ID').prop("disabled", true);
            $('#Product_ID').prop("disabled", true);

            $('#Govt_ID').change(function () {
                UpdateDistricts($('#Govt_ID'), $('#District_ID'), "اختار المركز-المدينة", $('#Village_ID'), "اختار القرية")
            });

            $('#District_ID').change(function () {
                UpdateVillages($('#District_ID'), $('#Village_ID'), "اختار القرية")
            });

            $('#Sector_ID').change(function () {
                UpdateFields($('#Sector_ID'), $('#Field_ID'), $('#Product_ID'), "اختار النشاط")
            });

            $('#Field_ID').change(function () {
                UpdateProducts($('#Field_ID'), $('#Product_ID'), "اختار المنتج")
            });

        });


    </script>
