@model EOCM.Models.Cluster

@{
    ViewBag.Title = "تفاصيل بيانات التجمع";
}
<div style="font-family:Arial; text-align: center; direction: rtl;">
    <h2>تفاصيل بيانات التجمع</h2>
</div>
    <hr />

   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cluster_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cluster_Name)
        </dd>

        <dt>
    @Html.DisplayNameFor(model => model.Governorate.Govt_Name)
</dt>
<dd>
    @Html.DisplayFor(model => model.Governorate.Govt_Name)
</dd>
        <dt >
            @Html.DisplayNameFor(model => model.District.District_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.District_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village.Village_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Village.Village_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sector.Sector_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sector.Sector_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field.Field_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field.Field_Name)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.Product.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoreProducts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoreProducts)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_EmpNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_EmpNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_EmpFemale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cluster_EmpFemale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_ShopNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_ShopNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_ProcessImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_ProcessImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cluster_DetailPage1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cluster_DetailPage1)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Cluster_DetailPage2)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cluster_DetailPage2)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Cluster_DetailPage3)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cluster_DetailPage3)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("تعديل", "Edit", new { id = Model.Cluster_ID }) |
        @Html.ActionLink("عودة للقائمة الرئيسية", "Index")
    </p>

