@model EOCM.Models.Cluster
<div id="ClusterDetails">

    @{
        ViewBag.Title = @Html.DisplayFor(model => model.Cluster_Name);
    }

    <div style="text-align: center; direction: rtl;">
        <h2>@Html.DisplayFor(model => model.Cluster_Name)</h2>
    </div>
    <hr />
    <div id="ClusterDetailContainer">


        <table id="ProfileTable" align="center">
            <colgroup>
                <col class="c1" style="width: 50%;">
                <col class="c2" style="width: 50%;">
            </colgroup>

            <tr>
                <th>البند</th>
                <th>البيان</th>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Governorate.Govt_Name)</td>
                <td>@Html.DisplayFor(model => model.Governorate.Govt_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.District.District_Name)</td>
                <td>@Html.DisplayFor(model => model.District.District_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Village.Village_Name)</td>
                <td>@Html.DisplayFor(model => model.Village.Village_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Address)</td>
                <td>@Html.DisplayFor(model => model.Address)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Sector.Sector_Name)</td>
                <td>@Html.DisplayFor(model => model.Sector.Sector_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Field.Field_Name)</td>
                <td>@Html.DisplayFor(model => model.Field.Field_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Product.Product_Name)</td>
                <td>@Html.DisplayFor(model => model.Product.Product_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Products)
                    @if (@Model.MoreProducts != null)
                    {
                        <br />
                        <a href="#" onclick="$('#hiddenText').show(); return false;"> معلومات اكثر</a>

                        <a href="#" onclick="$('#hiddenText').hide(); return false;">&nbsp  معلومات اقل &nbsp </a>
                       
                    }
                </td>
                <td>@Html.DisplayFor(model => model.Products) 
                 <div style="display: none;" id="hiddenText">@Html.DisplayFor(model => model.MoreProducts) </div>
                    
               
                 </td>
            </tr>
            
   
            <tr>
                <td>@Html.DisplayNameFor(model => model.Cluster_ShopNumMin)</td>
                <td>@Html.DisplayFor(model => model.Cluster_ShopNumMin) :  @Html.DisplayFor(model => model.Cluster_ShopNumMax) </td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Cluster_EmpNumMin)</td>
                <td>@Html.DisplayFor(model => model.Cluster_EmpNumMin) : @Html.DisplayFor(model => model.Cluster_EmpNumMax)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Cluster_EmpFemale)</td>
                <td>@Html.DisplayFor(model => model.Cluster_EmpFemale)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.OfficalProjects)</td>
                <td>@Html.DisplayFor(model => model.OfficalProjects)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.NonOfficalProjects)</td>
                <td>@Html.DisplayFor(model => model.NonOfficalProjects)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyPercent1)</td>
                <td>@Html.DisplayFor(model => model.CompanyPercent1)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyPercent2)</td>
                <td>@Html.DisplayFor(model => model.CompanyPercent2)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyPercent3)</td>
                <td>@Html.DisplayFor(model => model.CompanyPercent3)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.CompanyPercent4)</td>
                <td>@Html.DisplayFor(model => model.CompanyPercent4)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClusterNature_ID)</td>
                <td>@Html.DisplayFor(model => model.ClusterNature.ClusterNature_Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ClusterType_ID)</td>
                <td>@Html.DisplayFor(model => model.ClusterType.ClusterType_Name)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.MarketType_ID)</td>
                <td>@Html.DisplayFor(model => model.MarketType.MarketType_Name)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.ProductSeason_ID)</td>
                <td>@Html.DisplayFor(model => model.ProductSeason.ProductSeason_Name)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.ProductSeasonDetail)</td>
                <td>@Html.DisplayFor(model => model.ProductSeasonDetail)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.ExportVolume)</td>
                <td>@Html.DisplayFor(model => model.ExportVolume)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.Income)</td>
                <td>@Html.DisplayFor(model => model.Income)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.SupportingOrg)</td>
                <td>@Html.DisplayFor(model => model.SupportingOrg)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Challenges)
                    @if (@Model.MoreChallenges != null)
                    {
                        <br />
                        <a href="#" onclick="$('#hiddenText2').show(); return false;"> معلومات اكثر</a>

                        <a href="#" onclick="$('#hiddenText2').hide(); return false;">&nbsp  معلومات اقل &nbsp </a>
                    }
                </td>
                <td>@Html.DisplayFor(model => model.Challenges) 
            
                        <div style="display: none;" id="hiddenText2">@Html.DisplayFor(model => model.MoreChallenges) </div>

                   
                </td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(model => model.AdditionalInfo)</td>
                <td>@Html.DisplayFor(model => model.AdditionalInfo)</td>
            </tr>
           
        </table>

       
        <br /><br />
        <table id="FooterTable" align="center">
            <colgroup>
                <col class="c1" style="width: 30%;">
                <col class="c2" style="width: 70%;">
            </colgroup>
            @if (@Model.Cluster_StudyFile1 != null | @Model.Cluster_StudyFile2 != null)
            {
                

            <tr>
               
                @*<td>@Html.DisplayNameFor(model => model.Cluster_StudyFile1)</td>*@
                <td>دراسة عن التجمع:</td>
                <td>
                    <a target="_blank"  href="../../StudyFiles/@Html.Raw(Model.Cluster_StudyFile1)"> @Html.DisplayFor(model => model.Cluster_StudyFile1) </a>
                    <br />

                    <a target="_blank" href="../../StudyFiles/@Html.Raw(Model.Cluster_StudyFile2)">@Html.DisplayFor(model => model.Cluster_StudyFile2)</a>


                </td>
            </tr>
            }

            <tr>
                
                <td>روابط لصفحات خارجية ذات صلة:</td>
                <td>
                    <br />
                    <a href="@Html.Raw(Model.Cluster_DetailPage1)" onclick="return popup(this, 'notes')">@Html.DisplayFor(model => model.Cluster_DetailPage1)</a>
                    <br />
                
                    <a target="_blank" href="@Html.Raw(Model.Cluster_DetailPage2)">@Html.DisplayFor(model => model.Cluster_DetailPage2)</a>
                    <br />

                    <a target="_blank" href="@Html.Raw(Model.Cluster_DetailPage3)">@Html.DisplayFor(model => model.Cluster_DetailPage3)</a>

                </td>
            </tr>
           
            <tr>
                <td>
                    <br />
                    @Html.ActionLink("تجمعات اخرى في نفس المحافظة", "OtherGovtClusters", new { id = @Model.Govt_ID }, new { target = "_blank" })
                    <br />
                    @Html.ActionLink("تجمعات مشابهة في كل المحافظات", "SimilarClusters", new { id = @Model.Field_ID }, new { target = "_blank" })
                    <br />
                    <br />
                    <br />
                </td>
            </tr>

         </table>


</div>
</div>
@*<dt>
        @Html.DisplayNameFor(model => model.Cluster_ProcessImage)
    </dt>

    <dd>
        <img src="~/@Html.DisplayFor(model => model.Cluster_ProcessImage)" alt="صورة عملية الانتاج" style="width:65px; height:65px">
    </dd>*@

<script type="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
return false;
}

$('#createInput').click(function () {
    $('#textarea').html('<input type="text" />');
    return false;
});

//-->
</script>
