@model EOCM.Models.District


@{
    ViewBag.Title = "حذف المركز";
}
<div style="font-family:Arial; text-align: center; direction: rtl; color:white">
    <h2>@ViewBag.Title</h2>
    <h3>هل تريد فعلا حذف المركز؟ </h3>
    <hr />
</div>

@{
    ViewBag.Title = @Html.DisplayFor(model => model.District_Name);
}
<div style="text-align: center; direction: rtl; color:white">
    <h2>@Html.DisplayFor(model => model.District_Name)</h2>
</div>
<hr />
<div id="DistrictDetailContainer">

    <table id="ProfileTable" align="center">
        <colgroup>
            <col class="c1" style="width: 50%;">
            <col class="c2" style="width: 50%;">
        </colgroup>
        <tr>
            <th>البند</th>
            <th>البيان</th>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Governorate.Govt_Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Governorate.Govt_Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.District_Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.District_Name)
            </td>
        </tr>
         
    </table>
    <br />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <table id="FooterTable2" align="center">
        <tr>
            <td>

                <input type="submit" value="احذف المركز" class="btn btn-default " />
            </td>
        </tr>
        <tr>
            <td>
                <center>

                    @Html.ActionLink("عودة للقائمة الرئيسية", "Index", null, new { style = "color:yellow;" })
                </center>
            </td>
        </tr>
    </table>

}
