@model EOCM.Models.District

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>District</h4>
    <hr />
    <dl class="dl-horizontal" style=" direction:rtl ">
        <dt>
            @Html.DisplayNameFor(model => model.Governorate.Govt_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate.Govt_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.District_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
