<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8; CodePage=65001" />
     <meta name="viewport" content=" width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*<script type="text/javascript" src="Multipartial.axd?js"></script>*@   

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
   
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=ngt"></script>
    <script type="text/javascript" src="~/Scripts/mapCluster.js"></script>
    <script type="text/javascript" src="~/Scripts/UpdateLists.js" ></script>
    <script type="text/javascript" src="~/Scripts/UpdateMultipartialViews.js" ></script>
   


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

     <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables-1.10.6/media/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.6/media/js/jquery.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.6/media/js/jquery.dataTables.js"></script>
  

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

</head>

<body>
  
    <div class="body-content">

        <div id="banner" class="banner">
         </div>
        <hr />
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/JQuery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jQueryPlugins")
    @Scripts.Render("~/bundles/jqueryval")
      
    @RenderSection("scripts", required: false)
    @RenderSection("myMap", required: false)
  

</body>
</html>
